body {display: flex; padding: 0px; margin: 0px; background-color: #D8BF65; overflow-y: hidden}
nav {position: fixed; height: 50px; background-color: #C70039; width: 100vw; display: flex; align-items: center; justify-content: center; }
footer {position: absolute; font-family: 'Chivo Mono'; z-index: 2; height: 50px; display: flex; align-items: center; color: white; font-size: 1.4vh; margin-left: 5px}
nav a {color: white; text-decoration: none; font-weight: 900; font-family: 'Roboto Slab'}

main {height: 100vh; width: 80vw; display: flex; flex-direction: column; margin-top: 50px; margin-left: 10vw; background-color:     #900C3F}
h1 {height: 10vh; width: 100%; margin: 0; padding: 0; background-color: #900C3F; color: white; display: flex; align-items: center; justify-content: center; font-size: 7vh; font-family: 'Garamond'}
content {height: auto; width: 70vw; background-color: white; padding: 20px; box-sizing: border-box; margin-left: 5vw; font-family: 'Times New Roman'; font-size: 2vh }
span.quote {text-decoration: underline}
span.siting {display: none}
span.quote:hover + span.quotechar + span.siting, span.quotechar:hover + span.siting, span.siting:hover {display: inline-block}

