body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    display:flex; 
    flex-direction: row; 
    overflow: hidden; 
    background-color: #D8BF65;
}

nav {
    height: 50px; 
    color: white; 
    position: fixed; 
    top: 0px; 
    z-index: 50; 
    background-color: #C70039; 
    border-bottom: black solid 1px; 
    overflow-x: hidden; 
    width: 100%; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    box-shadow: calc(var(--x)*10*var(--pagewidth)/var(--horizwidth)*1.208347264656713) 0px 0px inset #900C3F, 4px 4px 0px black ; 
    display:flex; 
    justify-content: flex-end;
}

nav p {
    position: fixed; 
    left: 15px; 
    font-family: 'Kdam Thmor Pro'; 
    font-weight: 1000; 
    height: 50px; 
    top: -5px;
}

/*Menu styles that are probably very innefective and repeating but it works*/
menu {
    display: flex; 
    flex-direction: row-reverse; 
    margin: 0; 
    padding: 0; 
    z-index: 1;
}

menu span {
    margin: 0; 
    cursor: pointer;
}

submenu {
    position: absolute; 
    display: none; 
    flex-direction: row; 
    right: 50px; 
    height: 50px;  
    border-left: black solid 10px;
}

menu submenu a {
    color: white; 
    display: none; 
    align-items: center; 
    justify-content: center; 
    margin: 0; 
    height: 100%; 
    width: 100px; 
    opacity: 0; 
    z-index: 1; 
    text-decoration: none; 
    font-family: 'Roboto Slab';
}

menu submenu a span {
    border-bottom: white solid 4px;
}

menu:hover {
    background-color: white;
}

menu:hover a {
    display:flex; 
    opacity: 1; 
    background-color: white; 
    color: black;
}

menu:hover a span {
    color: black;
}

menu:hover submenu {
    display:flex;
}

menu:hover submenu a span {
    border-color: black;
}

menu:hover > span {
    color: black;
}

menu submenu a:hover, menu>a:hover>span {
    background-color: #eea;
}

/*first slide/title thingie*/
body>div {
    z-index: 1; 
    height: calc(100%-50px); 
    margin-top: 50px;
}

body>div:first-of-type>div:first-of-type {
    height: 100%; 
    width: 100%; 
    display: flex; 
    position: absolute; 
    align-items: center; 
    justify-content: center; 
    margin-top: -50px;
}

#title {
    background-color: white; 
    height: 50%; 
    width: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    border: black solid 5px; 
    flex-direction: column; 
    border-radius: 10px; 
    padding: 20px;
}

#title p {
    font-family: 'Playfair Display'; 
    font-size: 30px; 
    width: 100%; 
    flex-grow: 1; 
    margin: 0; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/*the ever present eye that follows you as you scroll the page*/
.eye {
    background: url("eye.png"); 
    background-attachment: fixed; 
    height: 190px; 
    width: 80%; 
    background-repeat: no-repeat; 
    background-color: black; 
    border: #C70039 solid 10px; 
    box-shadow: 4px 4px 0px black; 
    border-radius: 10px
}

#title .eye {
    background-position: center 78%;
}

.text {
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    margin-bottom: 25px; 
    border: black solid 5px; 
    font-size: 40px; 
    color: blue; 
    background-color: white; 
    margin-top: 75px; 
    box-sizing: border-box; 
    border-radius: 10px; 
    font-weight: 100;
}

.text .eye {background-position: center -25px; margin-top: 50px; width: 80%;}

/*the styling and moving of all the background text stuff*/
#heIsWatching {
    overflow-y: hidden; 
    overflow-x: hidden; 
    white-space: nowrap; 
    position: fixed; 
    background-size: contain; 
    z-index: -99;
}

#heIsWatching h2 {
    margin: 0; 
    transform: skewY(345deg) translateY(-225px) translateX(calc(var(--i)*100px*-1 - var(--x)*2*var(--i))); 
    font-size: 50px; 
    white-space: nowrap; 
    z-index: -99; 
    font-family: 'Chivo Mono';
}

#heIsWatching h2 span:nth-of-type(2n) {
    color: #C70039; 
}

/*regular content stuff*/
.text div:not(.eye) {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-grow: 1; 
    flex-direction: column;
}

.text div a {
    text-decoration: none; 
    color: black; 
    font-family: 'Kdam Thmor Pro'; 
    border: #C70039 solid 4px; 
    border-radius: 10px; 
    padding: 10px; 
    font-size: 40px; 
    box-shadow: 3px 3px 0px black;
}

.text div p {
    font-family: 'Garamond'; 
    color: black; 
    font-size: 60px; 
    margin: 0;
}

.text div a:hover {
    background-color:#C70039; 
    border-color:#900C3F; 
    box-shadow: 3px 3px 0px inset black, 3px 3px 0px black; 
    color: white;
}

/*menu styling that i copy pasted from google*/
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48; font-size: 50px; color: white; 
    z-index: 1;
}









